ion-header{
    ion-grid{
        --background: #f1f5f8;
        background: #f1f5f8;
        border-radius: 0 0 28px 28px;
        margin-top: -1px;
    }
    background: linear-gradient(90deg, rgba(43,90,148,1) 0%, rgba(45,112,229,1) 35%, rgba(45,112,229,1) 100%);
z-index: 0;

}
.re{
    color:darkgreen
}